.custom-scroll .scroll-bar:vertical {
    -fx-pref-width: 1px; /* Change this value as needed */
}

.scroll-pane .scroll-bar:horizontal {
    -fx-pref-height: 1px; /* change to your preferred size */
}


.combo-box .arrow-button {
    -fx-background-radius: 12;
}

.combo-box .list-cell {
    -fx-background-radius: 12;
}

.custom-label {
    -fx-line-spacing: 0.5px; /* Adjust the value as needed */
}

.scroll-pane {
    -fx-faint-focus-color: transparent;
}